body {
	font-family: "Montserrat", sans-serif;
	background: white;
}

.container {
	display: block;
	max-width: 680px;
	width: 80%;
	margin: 120px auto;
}

.logindiv {
	background-color: #f8f2ed;
	border-radius: 30px;
	padding: 20px 0;
}

.loginimg {
	display: flex;
	justify-content: center;
	width: 100%;
}

.loginimg>div {
	text-align: center;
	width: 40%;
}

.loginimg img {
	width: 100%;
}

#errorMessage {
	display: none;
	text-align: center;
	color: red;
}

h1 {
	color: #e91e63;
	font-size: 48px;
	letter-spacing: -3px;
	text-align: center;
	transition: 0.2s linear;
}

.links {
	list-style-type: none;
}

.links li {
	display: inline-block;
	margin: 0 20px 0 0;
	transition: 0.2s linear;
}

.links li:nth-child(2) {
	opacity: 0.6;
}

.links li:nth-child(2):hover {
	opacity: 1;
}

.links li:nth-child(3) {
	opacity: 0.6;
	float: right;
}

.links li:nth-child(3):hover {
	opacity: 1;
}

.links li a {
	text-decoration: none;
	color: #0f132a;
	font-weight: bolder;
	text-align: center;
	cursor: pointer;
}

form {
	width: 100%;
	max-width: 680px;
	margin: 40px auto 10px;
}

form .input__block {
	margin: 20px auto;
	display: block;
	position: relative;
}

form .input__block.first-input__block::before {
	content: "";
	position: absolute;
	top: -15px;
	left: 50px;
	display: block;
	width: 0;
	height: 0;
	background: transparent;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid rgba(15, 19, 42, 0.1);
	transition: 0.2s linear;
}

form .input__block.signup-input__block::before {
	content: "";
	position: absolute;
	top: -15px;
	left: 119px;
	display: block;
	width: 0;
	height: 0;
	background: transparent;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid rgba(15, 19, 42, 0.1);
	transition: 0.2s linear;
}

form .input__block input {
	display: block;
	width: 90%;
	max-width: 680px;
	height: 50px;
	margin: 0 auto;
	border-radius: 8px;
	border: none;
	background: rgba(15, 19, 42, 0.1);
	color: rgba(15, 19, 42, 0.6);
	padding: 0 0 0 15px;
	font-size: 14px;
	font-family: "Montserrat", sans-serif;
}

.radio__block {
	display: block;
	width: 90%;
	max-width: 680px;
	height: 50px;
	margin: 0 auto;
	border-radius: 8px;
	border: none;
	background: rgba(15, 19, 42, 0.1);
	color: rgba(15, 19, 42, 0.5);
	padding: 0 0 0 15px;
	font-size: 14px;
	font-family: "Montserrat", sans-serif;
	display: flex; /* 요소를 수평으로 배치합니다. */
	align-items: center;
	padding: 0 0 0 15px; /* 요소를 수직으로 중앙 정렬합니다. */
}

.address__block, .select__block {
	display: block;
	width: 90%;
	max-width: 680px;
	height: 50px;
	margin: 20px auto;
	border-radius: 8px;
	border: none;
	background: rgba(15, 19, 42, 0.1);
	color: rgba(15, 19, 42, 0.5);
	padding: 0 0 0 15px;
	font-size: 14px;
	font-family: "Montserrat", sans-serif;
	display: flex; /* 요소를 수평으로 배치합니다. */
	align-items: center; /* 요소를 수직으로 중앙 정렬합니다. */
}

form .address__block input {
	display: block;
	width: 90%;
	max-width: 680px;
	height: 50px;
	margin: 0 auto;
	border-radius: 8px;
	border: none;
	background: rgba(15, 19, 42, 0);
	color: rgba(15, 19, 42, 0.6);
	/* padding: 0 0 0 15px; */
	font-size: 14px;
	font-family: "Montserrat", sans-serif;
}

.select__block select {
	padding: 0 3px;
	border-radius: 4px;
	border: none;
	font-family: "Montserrat", sans-serif;
	color: rgba(15, 19, 42, 0.5);
	height: 25px;
}

#phone_2, #phone_3 {
	padding: 0 3px;
	border-radius: 4px;
	border: none;
	font-family: "Montserrat", sans-serif;
	color: rgba(15, 19, 42, 0.5);
	width: 10%;
	height: 25px;
	text-align: center;
}
/* #zonecode, */
/* #address{
	width: 100%;
	background-color: rgba(15, 19, 42, 0);
	text-align:left;
}
#address{
	width: 35%;
} */
form .input__block input:focus, form .input__block input:active {
	outline: none;
	border: none;
	color: #0f132a;
}

form .input__block input.repeat__password {
	opacity: 0;
	display: none;
	transition: 0.2s linear;
}

form .signin__btn {
	background: #e91e63;
	color: white;
	display: block;
	width: 92.5%;
	max-width: 680px;
	height: 50px;
	border-radius: 8px;
	margin: 0 auto;
	border: none;
	cursor: pointer;
	font-size: 14px;
	font-family: "Montserrat", sans-serif;
	box-shadow: 0 15px 30px rgba(233, 30, 99, 0.36);
	transition: 0.2s linear;
}

form .signin__btn:hover {
	box-shadow: 0 0 0 rgba(233, 30, 99, 0);
}

.separator {
	display: block;
	margin: 30px auto 10px;
	text-align: center;
	height: 40px;
	position: relative;
	background: transparent;
	color: rgba(15, 19, 42, 0.4);
	font-size: 13px;
	width: 90%;
	max-width: 680px;
}

.separator::before {
	content: "";
	position: absolute;
	top: 8px;
	left: 0;
	background: rgba(15, 19, 42, 0.2);
	height: 1px;
	width: 45%;
}

.separator::after {
	content: "";
	position: absolute;
	top: 8px;
	right: 0;
	background: rgba(15, 19, 42, 0.2);
	height: 1px;
	width: 45%;
}

.google__btn, .github__btn {
	display: block;
	width: 90%;
	max-width: 680px;
	margin: 20px auto;
	height: 50px;
	cursor: pointer;
	font-size: 14px;
	font-family: "Montserrat", sans-serif;
	border-radius: 8px;
	border: none;
	line-height: 40px;
}

.google__btn.google__btn, .github__btn.google__btn {
	background: #5b90f0;
	color: white;
	box-shadow: 0 15px 30px rgba(91, 144, 240, 0.36);
	transition: 0.2s linear;
}

.google__btn.google__btn .fa, .github__btn.google__btn .fa {
	font-size: 20px;
	padding: 0 5px 0 0;
}

.google__btn.google__btn:hover, .github__btn.google__btn:hover {
	box-shadow: 0 0 0 rgba(91, 144, 240, 0);
}

.google__btn.github__btn, .github__btn.github__btn {
	background: #25282d;
	color: white;
	box-shadow: 0 15px 30px rgba(37, 40, 45, 0.36);
	transition: 0.2s linear;
}

.google__btn.github__btn .fa, .github__btn.github__btn .fa {
	font-size: 20px;
	padding: 0 5px 0 0;
}

.google__btn.github__btn:hover, .github__btn.github__btn:hover {
	box-shadow: 0 0 0 rgba(37, 40, 45, 0);
}

footer p {
	text-align: center;
}

footer p .fa {
	color: #e91e63;
}

footer p a {
	text-decoration: none;
	font-size: 17px;
	margin: 0 5px;
}

footer p a .fa-facebook {
	color: #3b5998;
}

footer p a .fa-twitter {
	color: #1da1f2;
}

footer p a .fa-instagram {
	color: #f77737;
}

footer p a .fa-linkedin {
	color: #0077b5;
}

footer p a .fa-behance {
	color: #1769ff;
}

#zonezodebtn {
	width: 80px;
	font-size: 12px;
	font-weight: 600;
	color: #fff;
	cursor: pointer;
	margin-right: 2rem;
	height: 33px;
	text-align: center;
	border: none;
	background-size: 300% 100%;
	border-radius: 10px;
	moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	/* 	background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a, #FBB03B); */
	background-image: linear-gradient(to right, #f7186a, #f7186a, #f7186a, #FBB03B);
}

#zonezodebtn:hover {
	background-position: 100% 0;
	moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.error-message {
	color: red;
	font-size: 12px;
	display: block; /* 입력창 아래에 한 줄씩 표시되도록 함 */
	width: 90%;
	margin: 0 auto;
}
/* 비활성화된 버튼의 배경색 */
.signin__btn.disabled {
	background: #ccc; /* 비활성화된 상태일 때의 배경색 */
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.36);
	transition: 0.2s linear;
}

/* 활성화된 버튼의 배경색 */
.signin__btn:not(.disabled) {
	background: #e91e63; /* 활성화된 상태일 때의 배경색 */
	box-shadow: 0 15px 30px rgba(233, 30, 99, 0.36);
	transition: 0.2s linear;
}